data-raw/devstuffs.R
data-raw/
.Rproj.user
.Rhistory
inst/doc
/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/inst/
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/.lintr
DESCRIPTION
LICENSE.md
